// assets/styles/_common.scss
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #6B8DD6 0%, #8E37D7 100%);
}

.auth-box {
  width: 400px;
  padding: 30px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);

  .auth-title {
    text-align: center;
    margin-bottom: 30px;
    color: #303133;
  }
}